@charset "UTF-8";

/* resrt */
* {
    margin: 0;
    padding: 0;
    color: #333;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #333;
}
li {
    list-style: none;
}
img {
    width: 100%;
    vertical-align: top;
}

/* container */
.container {
    width: 1200px;
    margin: 0 auto;
}

/*  Wrap */
#Wrap {
    width: 100%;
}

/* header */
#header {
    width: 100%;
}
#header .container {
    display: flex;
}
#header .logo {
    width: 20%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header .nav {
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: center;
}
#header .nav > ul {
    
}
#header .nav > ul > li {
    display: inline-block;
    /* margin-right: 50px; */
    position: relative;
    
}
#header .nav ul > li > a {
    display: block;
    padding: 20px 40px;
    /* background-color: #123; */
    color: #333;
    
}
#header .nav> ul > li > ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    width: 100%;
    text-align: center;
}
#header .nav ul > li > ul > li {
    width: 144px;
    display: block;
}
#header .nav ul > li > ul > li > a {
    display: block;
    padding: 10px 20px;
    background-color: #155;
}

/* slider */
.slider__wrap {
    width: 100%;
    height: 1200px;
    background-color: #123;
}
.slider__wrap.container {
    width: 1200px;
    height: 300px;
    overflow: hidden;
}
.slider {
    position: relative;
}
.text {
    width: 250px;
    height: 100px;
    background-color: #ffffff9a;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text h2 {
    width: 100%;
}
.text p {
    font-size: 25px;
}

/* contents */
#contents {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
#contents .info {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 200px;
}
.info__menu {
    /* width: 400px;
    height: 200px;
    background-color: #999; */
    width: 100%;
}
.info__menu > a {
    width: 100%;
}
.info__cont {
    display: flex;
}
.info__cont .notice {
    /* display: none; */
    font-size: 20px;
}
.info__cont .notice > ul {
    width: 100%;
}
.info__cont .notice > li {
    padding: 20px;
    width: 100%;
}
.info__cont .notice > li > a {
    padding: 20px 0;
    width: 60%;
}
.info__cont .notice > li > span {
    font-size: 15px;
    width: 40%;
}

.info__cont .gallery {
    display: none;
}
.info__cont .gallery ul {}
.info__cont .gallery ul li {
}
.info__cont .gallery ul li a {}
.banner {
    width: 400px;
    height: 200px;
    background-image: url(../img/Rectangle\ 107.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.banner h3 {
    font-size: 30px;
    color: #FFF;
}
.banner a {
    display: block;
    margin-top: 20px;
    padding: 20px;
    background-color: #123;
    color: #fff;
    border-radius: 30px;
}
.link {
    width: 400px;
    height: 200px;
    background-image: url(../img/blog13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.link h3 {
    font-size: 30px;
    color: #FFF;
}
.link a {
    display: block;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
    width: 120px;
}


/* footer */
#footer {
    width: 100%;
}
#footer .container {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#footer .footer1 {
    width: 20%;
    height: 100px;
}
#footer .footer1 a {
    font-size: 25px;
    line-height: 100px;
}
#footer .footer2 {
    width: 60%;
    height: 100px;
    line-height: 100px;
}
#footer .footer3 {
    width: 20%;
    height: 100px;
    display: flex;
}
#footer .footer3 a {
    line-height: 100px;
    padding: 20px;
}