body {
  background-image: url(../img/bg06.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
#header {
  margin-top: 130px;
}
#main {
  width: 700px;
  height: 470px;
  background-color: #fff;
  border: 1px solid #123;
  border-radius: 10px;
  margin-bottom: 30px;
}
.container {
  margin: 0 auto;
  padding: 20px;
}
.quiz__time {
  font-size: 20px;
  color: #a9a9a9;
  margin-bottom: 10px;
}
.quiz__question {
  font-size: 25px;
  margin-bottom: 20px;
}
.question__desc {
  font-size: 27px;
}
#footer {
  width: 700px;
  height: 200px;
  background-color: #fff;
  border: 1px solid #123;
  border-radius: 10px;
}
.quiz__answer {
  font-size: 30px;
}
.none {
  display: none;
}

@media (max-width: 800px){
  #header {
    margin-top: 70px;
  }
  #main {
    width: 500px;
    height: 300px;
  }
  #footer {
    width: 500px;
    height: 100px;
  }
  .quiz__time {
    font-size: 15px;
  }
  .quiz__question {
    font-size: 17px;
    margin-bottom: 10px;
  }
  .question__desc {
    font-size: 17px;
  }
  .quiz__answer {
    font-size: 17px;
  }
}
@media (max-width: 550px){
  #header {
    margin-top: 30px;
  }
  #main {
    width: 350px;
  }
  #footer {
    width: 350px;
    height: 70px;
    padding: 15px;
  }
  .quiz__time {
    font-size: 10px;
  }
  .quiz__question {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .question__desc {
    font-size: 14px;
  }
  .quiz__answer {
    font-size: 13px;
  }
}
@media (max-width: 360px){
  #header {
    margin-top: 15px;
  }
  #main {
    width: 250px;
    height: 320px;
  }
  #footer {
    width: 250px;
    height: 70px;
    padding: 10px;
  }
  .quiz__time {
    font-size: 10px;
  }
  .quiz__question {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .question__desc {
    font-size: 12px;
  }
  .quiz__answer {
    font-size: 12px;
  }
}